.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.1s linear;
  &:hover {
    opacity: 0.9;
  }
  &:disabled {
    background-color: rgb(91, 91, 150);
    cursor: auto;
  }
  &:active {
    opacity: 0.7;
  }
}
